.lien-footer {
    margin-bottom:-10px;
}

.a-footer:hover {
    color:white;
}

.titre-footer {
    margin-bottom:10px;
}

.row-footer {
    margin-left:0;
    margin-right:0;
}

h4 {
    font-size:1.8rem;
}

.footer {

    bottom:0;
    width:100%;
    border-top:2px solid white;
    padding: 30px 0; /* Pour éviter que le texte colle à la bordure */
    background-color:#333;

}

span.media_soc {
    vertical-align:top;
}

.footer {
    height:auto;
}

.logo {

    width:30px;
    height:30px;
}

i, span img {

    margin-right:10px;
    margin-bottom:20px;
}

@media screen and (max-device-width:361px) {

    .footer {

        position:relative;
        bottom:0;
        height:auto;
    }

}
