iframe {
    height:400px;
}


.resa >.titre, .titre_pres_film {
    font-size:2.4rem;
}

#bandeannonce {
    font-size:1.8rem;
}

@media screen and (max-device-width:576px) {
    iframe {
        height:200px;
    }
}