@font-face {

    font-family:Handshop;
    src:url(../fonts/Fontscafe_HandShopTypography-C30_demo.ttf);
}

@font-face {

    font-family:Corleone;
    src:url(../fonts/CorleoneDue.ttf);

}

@font-face {

    font-family:HiddenCinema;
    src:url(../fonts/Hiddencinema.ttf);
}

@font-face {

    font-family:Alegreya;

    src:url(../fonts/Alegreya-Regular.otf) format("truetype");

}

html, body {
    
    height:100%;
}

body {

    background-color:#222;
    color:white;
    height:100%;
}



h1, h2, h3, h4, h5, h6 {

    font-family:"Open Sans";
}


h2, h3, h4 {

    font-weight:bold;
}

.container-fluid {

    padding-top:50px; 
    padding-bottom:50px;
    height: auto;
    margin: auto auto 100px auto;
}

span, p, li, label {

    font-size:2rem;
    font-family:Alegreya;
    color:white;
}

.resa { /* Bas de page dans presentation_film.php */

    margin-top:50px;
}

.bouton {
    display:block;
    
    width:20%;
    margin: 0 auto;
    color: white;
    background-color: red;
    border-radius: 10px 10px;
    font-size: 1.8rem;
    font-family: "Open Sans";
    padding: 1.3rem;
}

ul.filmsdiff {

    list-style-type:none;
}


.bouton:hover {
    transform:scale(1.1, 1.1);
    transition-duration:250ms;
    color:white;
}

.titre {

    margin-bottom:40px;
}

.label-bouton-liste {

    margin-bottom:2rem;
}


iframe {

    margin-top:50px;
}

a:visited, a:active, a:link, a:hover{
    text-decoration:none;
    color:white;
}

@media screen and (min-device-width : 768px) and (max-device-width : 1024px) { /* Tablette uniquement */
    .image-description-film {

        margin-bottom:50px;
    }

}

@media screen and (max-width:641px and orientation:landscape) {

    header {

        height:60vh;
    }

    .background {

        height:60vh;
    }

    .hidden-xs {

        display:none;
    }
    
    
}

@media screen and (max-device-width:576px) {
    span, p, li, label {
        font-size: 1.4rem;
    }
    
    .bouton {
        
        width:70%;
    }
}